USE [ProdSpt_Inventory]
GO
/****** Object:  StoredProcedure [dbo].[InventoryManageOleAutomation]    Script Date: 7/15/2025 10:00:00 AM ******/
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[InventoryManageOleAutomation]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[InventoryManageOleAutomation]
GO
/****** Object:  StoredProcedure [dbo].[InventoryManageOleAutomation]    Script Date: 7/15/2025 10:00:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InventoryManageOleAutomation]
    @Action varchar(10),
    @CurrentlyEnabled bit OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Log the procedure execution for audit purposes
    DECLARE @LogMessage NVARCHAR(255)
    SET @LogMessage = 'InventoryManageOleAutomation executed with action: ' + @Action
    
    -- Check current state of Ole Automation Procedures
    SELECT @CurrentlyEnabled = CONVERT(bit, CASE WHEN value_in_use = 1 THEN 1 ELSE 0 END)
    FROM sys.configurations 
    WHERE name = 'Ole Automation Procedures'

    IF @Action = 'ENABLE' AND @CurrentlyEnabled = 0
    BEGIN
        -- Brief delay to ensure configuration is stable
        WAITFOR DELAY '00:00:00.100'
        
        -- Double-check current state before enabling
        SELECT @CurrentlyEnabled = CONVERT(bit, CASE WHEN value_in_use = 1 THEN 1 ELSE 0 END)
        FROM sys.configurations 
        WHERE name = 'Ole Automation Procedures'
        
        IF @CurrentlyEnabled = 0
        BEGIN
            -- Enable Ole Automation Procedures
            EXEC sp_configure 'Ole Automation Procedures', 1
            RECONFIGURE WITH OVERRIDE
            SET @CurrentlyEnabled = 1
            
            -- Log successful enable
            SET @LogMessage = @LogMessage + ' - Successfully enabled Ole Automation Procedures'
        END
        ELSE
        BEGIN
            SET @LogMessage = @LogMessage + ' - Ole Automation Procedures already enabled'
        END
    END
    ELSE IF @Action = 'DISABLE' AND @CurrentlyEnabled = 1
    BEGIN
        -- Check if any other sessions are using Ole Automation
        IF NOT EXISTS (
            SELECT 1 
            FROM sys.dm_exec_sessions s
            JOIN sys.dm_exec_requests r ON s.session_id = r.session_id
            WHERE s.session_id != @@SPID
            AND r.command LIKE '%sp_OA%'
        )
        BEGIN
            -- Safe to disable Ole Automation Procedures
            EXEC sp_configure 'Ole Automation Procedures', 0
            RECONFIGURE WITH OVERRIDE
            SET @CurrentlyEnabled = 0
            
            -- Log successful disable
            SET @LogMessage = @LogMessage + ' - Successfully disabled Ole Automation Procedures'
        END
        ELSE
        BEGIN
            SET @LogMessage = @LogMessage + ' - Cannot disable Ole Automation Procedures - in use by other sessions'
        END
    END
    ELSE IF @Action = 'CHECK'
    BEGIN
        -- Just return current state without making changes
        SET @LogMessage = @LogMessage + ' - Current state: ' + CASE WHEN @CurrentlyEnabled = 1 THEN 'Enabled' ELSE 'Disabled' END
    END
    ELSE
    BEGIN
        SET @LogMessage = @LogMessage + ' - Invalid action or no action needed'
    END
    
    -- Optional: Log to collectionLogs table if it exists and logging is desired
    IF EXISTS (SELECT 1 FROM sys.tables WHERE name = 'collectionLogs')
    BEGIN
        INSERT INTO collectionLogs (LogId, Timestamp, ScriptName, LogLevel, Message)
        VALUES (
            NEWID(),
            GETDATE(),
            'InventoryManageOleAutomation',
            'INFO',
            @LogMessage
        )
    END
END
GO
